<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" role="navigation">
    <mat-toolbar color="primary">
      <span> Welcome </span>
    </mat-toolbar>
    <mat-action-list>
      <button mat-list-item class="nav-button" routerLink="/" (click)="sidenav.close()">
        <mat-icon class="nav-icon">home </mat-icon>&nbsp;<span>Home</span>
      </button>
      <mat-divider></mat-divider>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sequence viewers
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-list-item class="nav-button" routerLink="/msa" (click)="sidenav.close()">
          <span>MSA Viewer</span>
        </button>
        <button mat-list-item class="nav-button" routerLink="/igv" (click)="sidenav.close()">
          <span>IGV</span>
        </button>
        <button mat-list-item class="nav-button" routerLink="/ncbi" (click)="sidenav.close()">
          <span>NCBI</span>
        </button>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Phylogenetic tree viewers
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-list-item class="nav-button" routerLink="/au" (click)="sidenav.close()">
          <span>Auspice</span>
        </button>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <button mat-list-item class="nav-button" routerLink="/gridster" (click)="sidenav.close()">
        <span>Gridster</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-list-item class="nav-button" (click)="openHelp()">
        <mat-icon class="nav-icon">help </mat-icon>&nbsp;<span>Help</span>
      </button>
      <button mat-list-item class="nav-button" (click)="openGithub()">
        <span>Github</span>
      </button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button id="menu-button" mat-mini-fab color="primary" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <p id="toolbar-title">BCS TUI</p>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
