<iframe id="iframe_xsfpk" 
    width="100%"
    height="100%"
    src="https://www.ncbi.nlm.nih.gov/projects/msaviewer/embedded_iframe.html?iframe=iframe_xsfpk&anchor=-1&coloring=rasmol&key=mSoD84UoWvH2BhT21RciCHK2CUtWOlg_VDl8L2gregXrCZXatOCiiVGoZCouOLtF6l23Salt8mi1cqF_p3mrYplLpEWIeaI&track_config=protein_default&columns=d:120,b:55,x:17,aln,e:55,o:150&appname=ncbi_msav_demo"
    onload="if(!window._MSAiFrame){_MSAiFrame=true;window.addEventListener('message',function(e){if(e.origin=='https://www.ncbi.nlm.nih.gov' && !isNaN(e.data.h))document.getElementById(e.data.f).height=parseInt(e.data.h);});}">
</iframe>