<div class="options">
  <div class="options-header">
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="fill">
          <mat-label>Viewer to add</mat-label>
          <mat-select [(value)]="selectedViewer">
            <mat-option *ngFor="let viewer of viewers" [value]="viewer.value">
              {{viewer.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3"></div>
      <div class="col-3">
        <button color="primary" mat-fab (click)="getSelected()" aria-label="Add viewer button">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="button-holder">
      <!-- IGV -->
      <div class="gridster-item-content" *ngIf="item.igv">
        <div class="button-holder">
          <button mat-icon-button mat-raised-button class="remove-button" (mousedown)="removeItem($event, item)"
            (touchstart)="removeItem($event, item)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button mat-raised-button class="drag-handler">
            <mat-icon>open_with</mat-icon>
          </button>
        </div>
        <iframe src="http://localhost:4200/igvg" height="650px" width="100%"></iframe>
      </div>
      <!-- !IGV -->
      <!-- MSA -->
      <div class="gridster-item-content" *ngIf="item.msa">
          <button mat-icon-button mat-raised-button class="remove-button" (mousedown)="removeItem($event, item)"
            (touchstart)="removeItem($event, item)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button mat-raised-button class="drag-handler">
            <mat-icon>open_with</mat-icon>
          </button>
          <iframe src="http://localhost:4200/msag" height="650px" width="100%"></iframe>
      </div>
      <!-- !MSA -->
      <!-- NCBI -->
      <div class="gridster-item-content" *ngIf="item.ncbi">
        <div class="button-holder">
          <button mat-icon-button mat-raised-button class="remove-button" (mousedown)="removeItem($event, item)"
            (touchstart)="removeItem($event, item)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button mat-raised-button class="drag-handler">
            <mat-icon>open_with</mat-icon>
          </button>
        </div>
        <app-ncbi></app-ncbi>
      </div>
      <!-- !NCBI -->
      <!-- NCBI MSA -->
      <div class="gridster-item-content" *ngIf="item.ncbimsa">
        <div class="button-holder">
          <button mat-icon-button mat-raised-button class="remove-button" (mousedown)="removeItem($event, item)"
            (touchstart)="removeItem($event, item)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button mat-raised-button class="drag-handler">
            <mat-icon>open_with</mat-icon>
          </button>
        </div>
        <app-ncbi-msa></app-ncbi-msa>
      </div>
      <!-- !NCBI MSA -->
      <!-- Auspice -->
      <div class="gridster-item-content" *ngIf="item.auspice">
        <div class="button-holder">
          <button mat-icon-button mat-raised-button class="remove-button" (mousedown)="removeItem($event, item)"
            (touchstart)="removeItem($event, item)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button mat-raised-button class="drag-handler">
            <mat-icon>open_with</mat-icon>
          </button>
        </div>
        <app-auspice></app-auspice>
      </div>
      <!-- !Auspice -->
      <!-- ITOL -->
      <div class="gridster-item-content" *ngIf="item.itol">
        <div class="button-holder">
          <button mat-icon-button mat-raised-button class="remove-button" (mousedown)="removeItem($event, item)"
            (touchstart)="removeItem($event, item)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button mat-raised-button class="drag-handler">
            <mat-icon>open_with</mat-icon>
          </button>
        </div>
        <app-itol></app-itol>
      </div>
      <!-- !ITOL -->
      <!-- JBrowse -->
      <div class="gridster-item-content" *ngIf="item.jbrowse">
        <div class="button-holder">
          <button mat-icon-button mat-raised-button class="remove-button" (mousedown)="removeItem($event, item)"
            (touchstart)="removeItem($event, item)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button mat-raised-button class="drag-handler">
            <mat-icon>open_with</mat-icon>
          </button>
        </div>
        <app-jbrowse></app-jbrowse>
      </div>
      <!-- !JBrowse -->
    </div>
  </gridster-item>
</gridster>
