.options {
  padding: 10px;
  display: grid;
  overflow-y: hidden;
}

.options-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.source-code-button {
  justify-self: end;
}

.remove-button {
  position: relative;
  margin: 1vh 0 2vh 1vw
}

.drag-handler {
  margin: 1vh 0 2vh 1vw
}

[draggable] {
  user-select: none;
  cursor: pointer;
}

/* Scrollbar */

/*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #3F51B5; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2D3A82; 
}*/