<button class="close" mat-icon-button color="primary" (click)="onNoClick()">
  <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>IGV details</h1>
<div mat-dialog-content>
  <!-- Add genome -->
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Add genome </mat-panel-title>
        <mat-panel-description> Manually add a genome </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="full-width-field">
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="genomeData.id" />
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width-field">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="genomeData.name" />
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width-field">
        <mat-label>URL</mat-label>
        <input matInput [(ngModel)]="genomeData.url" />
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width-field">
        <mat-label>Index URL</mat-label>
        <input matInput [(ngModel)]="genomeData.indexUrl" />
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width-field">
        <mat-label>Cytoband URL</mat-label>
        <input matInput [(ngModel)]="genomeData.cytobandUrl" />
      </mat-form-field>
      <br/> <br/>
      <h3>Track</h3>
      <mat-form-field class="full-width-field">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="trackData.name" />
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width-field">
        <mat-label>URL</mat-label>
        <input matInput [(ngModel)]="trackData.url" />
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width-field">
        <mat-label>Order</mat-label>
        <input matInput [(ngModel)]="trackData.order" />
      </mat-form-field>
      <br/>
      <mat-form-field floatLabel="always">
        <mat-slide-toggle [(ngModel)]="trackData.indexed">Indexed</mat-slide-toggle>
        <textarea matInput style="display:none;"></textarea>
      </mat-form-field>
      <br/>
      <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    (click)="onSubmitAddGenome()"
    cdkFocusInitial
  >
    Confirm
  </button>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- !Add genome -->

  <!-- Add track -->
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Add track </mat-panel-title>
        <mat-panel-description> URL Input to add a track </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="full-width-field">
        <mat-label>URL</mat-label>
        <input matInput [(ngModel)]="data.stringURL" />
      </mat-form-field>
      <br/>
      <mat-form-field class="full-width-field">
        <mat-label>Label</mat-label>
        <input matInput [(ngModel)]="data.label" />
      </mat-form-field>

      <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    (click)="onSubmitAddTrack()"
    ([mat-dialog-close])="data.stringURL"
    cdkFocusInitial
  >
    Confirm
  </button>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- !Add track -->

  
  
</div>
<div mat-dialog-actions>
</div>
