.full-width-field {
    width: 95%;
 }

 .cdk-overlay-pane.my-dialog {
  position: relative!important;
}

.closeButton {
  position: relative;
  top: 0;
  right: 0;
  margin-bottom: 1em;
  min-width: auto;
  float: right;
    margin-bottom: 1em;
    height: 1vh;
 }

 .cdk-overlay-pane.my-dialog {
  position: relative!important;
}

mat-slide-toggle {
  margin-top: 1em;
}

.button-container {
  margin-top: 1em;
  text-align: center;
}

.add-genome-container {
  margin-bottom: 0.5em;
}

.add-track-button-container {
  margin-top: 1em;
  text-align: center;
}

#add-track-btn {
  width: 25vw;
  background-color: #757de8;
  color: #accc
}

.add-track-container {
  margin-top: 1em;
}

button.mat-raised-button {
  margin-right: 1em;
}

button.mat-raised-button.cancel {
  background-color: #eeeeee;
}

mat-panel-description {
  text-align:right;
}

.mat-icon {
  vertical-align: sub;
}

.mat-expansion-panel-header-description {
  display: inline;
  margin-right: 5vw;
}

@media (min-width: 900px) {
  .mat-expansion-panel-header-description {
    display: inline;
    margin-right: 20vw;
  }
}
