<button class="closeButton" mat-mini-fab color="primary" (click)="onNoClick()">
  <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>IGV details</h1>
<div mat-dialog-content>
  <!-- Add genome -->
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title> Add genome </mat-panel-title>
        <mat-panel-description> Manually add a genome </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="add-genome-container">
        <mat-form-field class="full-width-field">
          <mat-label>ID</mat-label>
          <input matInput [(ngModel)]="genomeData.id" />
        </mat-form-field>
        <br />
        <mat-form-field class="full-width-field">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="genomeData.name" />
        </mat-form-field>
        <br />
        <mat-form-field class="full-width-field">
          <mat-label>URL</mat-label>
          <input matInput [(ngModel)]="genomeData.url" />
        </mat-form-field>
        <br />
        <mat-form-field class="full-width-field">
          <mat-label>Index URL</mat-label>
          <input matInput [(ngModel)]="genomeData.indexUrl" />
        </mat-form-field>
        <br />
        <mat-form-field class="full-width-field">
          <mat-label>Cytoband URL</mat-label>
          <input matInput [(ngModel)]="genomeData.cytobandUrl" />
        </mat-form-field>
      </div>
      <div class="add-track-container">
        <h3>Track</h3>
        <mat-form-field class="full-width-field">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="trackData.trackName" />
        </mat-form-field>
        <br />
        <mat-form-field class="full-width-field">
          <mat-label>URL</mat-label>
          <input matInput [(ngModel)]="trackData.trackUrl" />
        </mat-form-field>
        <br />
        <mat-form-field class="full-width-field">
          <mat-label>Order</mat-label>
          <input matInput [(ngModel)]="trackData.trackOrder" />
        </mat-form-field>
        <br />
        <mat-slide-toggle [(ngModel)]="trackData.trackIndexed">Indexed</mat-slide-toggle>
      </div>

      <div class="add-track-button-container">
        <button mat-raised-button id="add-track-btn">Add track</button>
      </div>

      <div class="button-container">
        <button mat-raised-button color="primary" (click)="onSubmitAddGenome()" cdkFocusInitial>Confirm</button>
        <button mat-raised-button color="secondary" class="cancel" (click)="onNoClick()">Cancel</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- !Add genome -->

  <!-- Add track -->
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title> Add track </mat-panel-title>
        <mat-panel-description> URL Input to add a track </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field class="full-width-field">
        <mat-label>URL</mat-label>
        <input matInput [(ngModel)]="data.stringURL" />
      </mat-form-field>
      <br />
      <mat-form-field class="full-width-field">
        <mat-label>Label</mat-label>
        <input matInput [(ngModel)]="data.label" />
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" (click)="onSubmitAddGenome()" cdkFocusInitial>Confirm</button>
        <button mat-raised-button class="cancel" color="secondary" (click)="onNoClick()">Cancel</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- !Add track -->

  <!-- File input -->
  <!--
  <br />
  <label for="singleFile">Upload a file </label>
  <input id="singleFile" name="singleFile" type="file" [fileUploadInputFor]="fileUploadQueue" />
  <br>

  <mat-file-upload-queue #fileUploadQueue [fileAlias]="'file'" [httpUrl]="''">
    <!- - ABOVE HERE GOES BACKEND URL - ->

    <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
  </mat-file-upload-queue> -->
  <!-- !File input -->
</div>
<div mat-dialog-actions>
</div>
