.full-width-field {
    width: 95%;
 }

.close.mat-icon-button {
  position: relative;
  top: 0;
  right: 0;
  margin-bottom: 1em;
  line-height: 14px;
  min-width: auto;
 }

 .cdk-overlay-pane.my-dialog {
  position: relative!important;
}